/* CSS declarations go here */
#nav-button {
  text-decoration: none;
  margin-right: 10px;
  color:inherit;
}

.active-nav {
  background-color: blue;
}

.text-center {
  text-align: center;
}

.floating {
  position: absolute;
  text-align: center;
  color: white;
  left: 0;
  width: 100%;
  /*top: 50%;*/
}