/* CSS declarations go here */
body {
  background-color: lightblue;
}

.collapsible-body {
  background-color: white;
}
.collapsible-header {
  padding-top: .5em;
}
#nav-button {
  text-decoration: none;
  margin-right: 10px;
  color:inherit;
}

.active-nav {
  background-color: blue;
}

.text-center {
  text-align: center;
}

.floating {
  position: absolute;
  text-align: center;
  color: white;
  left: 0;
  top: 6%;
  width: 100%;
}

#hero {
  background-image: url('/img/techtalks-marketo-promo.png');
  background-size:cover;
  position:relative;
  width: 100%;
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  

}

.card-content-div {
  height: 20vh;
}

.card-image-div {
  margin: 1em;
}

.card-button-div {
  margin-right: 30px;
}

.allocation-box {
  height: 500px;
  overflow: auto;
}

.spacer {
  margin-top: 1em;
}

.spacer h1 {
  padding-top: 1em;
}

.spacer p {
  padding-top: 1em
}